{% extends "_base.html" %}

{% macro identity_list(subjects) %}
  <ul class="saved-identity-list">
    {% for subject in subjects %}
      <li>
        <form method="post">
          <button class="outline authorize-button"
                  type="submit"
                  name="sub"
                  aria-label="Authorize as {{ subject }}"
                  value="{{ subject }}">
            <span data-controller="overflow-title">{{ subject }}</span>
          </button>
        </form>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% block content %}
  <hgroup>
    <h1>Authorize Client</h1>
    <p>Choose an identity to use.</p>
  </hgroup>

  <article>


    {% if predefined_users %}
      <section aria-labelledby="heading-auth-predefined">

        <h3 id="heading-auth-predefined">Predefined users</h3>
        {{ identity_list(predefined_users) }}
      </section>
    {% endif %}


    <section>
      <h3>Custom user</h3>
      <form method="post">
        <fieldset role="group">
          <input id="subject-input"
                 type="text"
                 name="sub"
                 placeholder="Subject"
                 aria-label="Subject"
                 required
                 autofocus />
          <button type="submit" class="outline">Authorize</button>
        </fieldset>
      </form>
    </section>

    {% if recent_subjects %}
      <section aria-labelledby="heading-auth-previous">
        <h3 id="heading-auth-previous">Recent users</h3>
        {{ identity_list(recent_subjects) }}
      </section>
    {% endif %}
    <hr>
    <form method="post">
      <button type="submit"
              name="action"
              value="deny"
              class="secondary outline"
              style="width: auto;
                     margin-left: auto;
                     margin-bottom: 0">Deny access</button>
    </form>
  </article>

  <article aria-labelledby="heading-client-info">
    <h2 id="heading-client-info">Client info</h2>
    <table class="request-details">
      <tbody>
        <tr>
          <th scope="row">Client ID</th>
          <td>
            <code>{{ client_id }}</code>
          </td>
        </tr>
        <tr>
          <th scope="row">Redirect URI</th>
          <td>
            <code>{{ redirect_uri }}</code>
          </td>
        </tr>
        <tr>
          <th scope="row">Scopes</th>
          <td>
            {% for scope in scopes %}<code>{{ scope }}</code> {% endfor %}
          </td>
        </tr>
      </tbody>
    </table>
  </article>

  <script type="module">

  document.querySelectorAll("[data-controller=overflow-title]").forEach((element) => registerResizeObserverOn(element))

  function setTitlesForEllipsizedSubject(element) {
      const button = element.closest("button")
      const isTruncated = element.scrollWidth > element.clientWidth;

      if (isTruncated) {
        button.title = element.textContent?.trim() ?? "";
      } else {
        button.removeAttribute("title");
      }
  };

  function registerResizeObserverOn(element) {
    setTitlesForEllipsizedSubject(element);

    let resizeFrame = 0;

    new ResizeObserver(() => {
      if (resizeFrame) {
        cancelAnimationFrame(resizeFrame);
      }

      resizeFrame = requestAnimationFrame(() => {
        resizeFrame = 0;
        setTitlesForEllipsizedSubject(element);
      });
    }).observe(element);
  }


  </script>
  <style>
      :root {
          --pico-form-element-spacing-vertical: 0.5rem;
          --pico-form-element-spacing-horizontal: 1rem;
      }

      .saved-identity-list {
          padding: 0;
      }

      @media (min-width: 40rem) {
          .saved-identity-list {
              column-count: 2
          }
      }

      .authorize-button {
          text-align: left;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
      }

      .saved-identity-list>li {
          list-style: none;
      }

      .request-details {
          font-size: 0.9rem;
      }

      .request-details th {
          text-align: right;
          color: var(--pico-muted-color);
          font-weight: 500;
      }

      .request-details tr:last-of-type * {
          border-bottom: 0;
      }
  </style>
{% endblock %}
